body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0d47a1;
  font-family: Arial, sans-serif;
}

.login-box {
  background: #fff;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.logo {
  width: 70px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #0d47a1;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}
