body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #e3f2fd;
    height: 100vh;
}

/* Background logo transparan */
.bg-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/logo.png') no-repeat center;
    background-size: 45%;
    opacity: 0.09;
    z-index: -1;
}

/* Card login */
.login-card {
    max-width: 360px;
    margin: 70px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.logo-small {
    width: 100px;
    margin-bottom: 10px;
}

h2 {
    color: #0d47a1;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #0d47a1;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #08306b;
}

.info {
    margin-top: 20px;
    font-size: 13px;
    color: #555;
}

/* Mobile responsive */
@media(max-width: 480px) {
    .bg-logo {
        background-size: 85%;
        opacity: 0.07;
    }

    .login-card {
        margin: 30px;
        padding: 20px;
    }
}
